.App {
  text-align: center;
}


.bg-navbar {
  background-color: #ffffff;
}

header {
  position: fixed;
  width: 100%;
}

img { 
  width: 80%; 
  height: 80%; 
  object-fit: contain; 
}

.ntublue {
  color: #003a76;
  border-color: #003a76;
}

#box {
position: fixed;
top: 120px;
left: 0px;
width: 250px;
padding: 20px 0px;
height: 100%;
background-color: #ffffff;
  color: #343838;
  /* box-shadow: 3px 3px 5px 6px gray; */
}

#box.active {
left: 0px;
}

#items {
position: relative;
top: 40%;
transform: translateY(-50%);
}

#items .item {
  position: relative;
cursor: pointer;
font-size: 0.8em;
padding: 15px 30px;
  transition: all 250ms;
}

#items a {
  color: inherit;
  text-decoration: none;
}

#items .item:hover {
  padding: 15px 45px;
  background-color: lightgray;
}