.App {
  text-align: center;
}

header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
}

img { 
  width: 80%; 
  height: 80%; 
  object-fit: contain; 
}

.ntublue {
  color: #003a76;
  border-color: #003a76;
}
